<h2>{{title}}</h2>

<hr>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>Type</th>
            <th>IsOn</th>
            <th>Results</th>
            <th>Registration</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let competition of competitions">
            <td><a [routerLink]="['/competitions/detail/', competition._id ]">{{competition.name}}</a></td>
            <td>{{competition.description}}</td>
            <td>{{competition.start_date | date : 'MM/dd/y'}}</td>
            <td>{{competition.competition_type.name}}</td>
            <td>{{competition.isOn ? 'On Course' : 'Stopped'}}</td>
            <td><a href="" [routerLink]="['/competitions/results/', competition._id ]"><button class="btn btn-block btn-info"><i class="fa fa-bar-chart" aria-hidden="true"></i></button></a></td>
            <td><a href="" [routerLink]="['/competitions/registration/', competition._id ]"><button class="btn btn-block btn-info"><i class="fa fa-user-circle" aria-hidden="true"></i></button></a></td>
            <td><a href="" [routerLink]="['/competitions/detail/', competition._id ]"><button class="btn btn-block btn-warning"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a></td>
            <td><a (click)="delete( competition._id )"><button class="btn btn-block btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></button></a></td>
        </tr>
    </tbody>
</table>