<h1>Welcome {{user_info.first_name}} {{user_info.last_name}}</h1>

<div class="row" *ngIf="competitions">
    <div class="col-md-12" *ngFor="let competition of active_competitions">
        <div class="jumbotron jumbotron-fluid text-center">
            <div class="container text-center">
                <h1 class="display-3">{{competition.name}}</h1>
                <p class="lead">{{competition.description}}</p>
                <p>Type : <span class="badge badge-pill badge-info">{{competition.competition_type.name}}</span> | Date : <span class="badge badge-pill badge-success">{{competition.start_date | date : 'MM/dd/y H:mm:ss'}}</span></p>
                <h4>On Course</h4>
                <div class="row">
                    <div class="col-md-4" *ngFor="let st of competition.start_times">
                        <h2 *ngIf="st.state" class="display-2">{{st.display}}</h2>
                        <h2 *ngIf="!st.state" class="display-4">{{st.display}}</h2>
                    </div>
                </div>
                <p>
                    <button type="button" class="btn btn-info" [routerLink]="['/competitions/results', competition._id]"><i class="fa fa-list-ol" aria-hidden="true"></i> Results</button>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Profile</h3>
    </div>
    <div class="col-md-4">
        <ul class="list-group">
            <li class="list-group-item">First Name : {{user_info.first_name}}</li>
            <li class="list-group-item">Last Name : {{user_info.first_name}}</li>
            <li class="list-group-item">Email : {{user_info.email}}</li>
            <li class="list-group-item">UserName : {{user_info.username}}</li>
            <li class="list-group-item">Valid Key : {{user_info.key}} <small>Only for 3 computers.</small></li>
        </ul>
    </div>
    <div class="col-md-8">

    </div>
</div>