<nav aria-label="breadcrumb" role="navigation" *ngIf="category">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">
            <a [routerLink]="['/categories']">Categories</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{category.name}} [detail]</li>
    </ol>
</nav>
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert" *ngIf="errors">
            {{errors}}
        </div>
        <div class="alert alert-warning" role="alert" *ngIf="messages">
            {{messages}}
        </div>
    </div>
</div>
<div class="row" *ngIf="category">
    <div class="col-md-6">
        <ul class="list-group">
            <li class="list-group-item"><b>Name :</b> {{category.name}}</li>
            <li class="list-group-item"><b>Description :</b> {{category.description}}</li>
            <li class="list-group-item"><b>Ages :</b> {{category.age_1}} - {{category.age_2}}</li>
            <li class="list-group-item"><b>Sex :</b> {{category.sex == 0 ? 'MALE' : 'FEMALE'}}</li>
        </ul>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="name">Name</label>
            <input  type="text"
                    class="form-control"
                    name="name"
                    placeholder="Name"
                    required autofocus 
                    [(ngModel)]="category.name">
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <input  type="text"
                    class="form-control"
                    name="description"
                    placeholder="Description"
                    required autofocus
                    [(ngModel)]="category.description">
        </div>
    
        <div class="form-group">
            <label for="age_1">Age 1</label>
            <input  type="number"
                    class="form-control"
                    name="age_1"
                    placeholder="Age 1"
                    required autofocus
                    [(ngModel)]="category.age_1"> 
        </div>         
    
        <div class="form-group">
            <label for="age_2">Age 2</label>
            <input  type="number"
                    class="form-control"
                    name="age_2"
                    placeholder="Age 2"
                    required autofocus 
                    [(ngModel)]="category.age_2">
        </div>         

        <div class="form-group">
            <label for="age_2">Sex</label>
            <select name="sex" class="form-control" required [(ngModel)]="category.sex">
                <option value="0">MALE</option>
                <option value="1">FEMALE</option>
            </select>
        </div>       
        
        
    </div>

    <div class="col-md-6">
        <button [routerLink]="['/categories']" class="btn btn-block btn-default"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Cancel</button>    
    </div>
    <div class="col-md-6">
        <button class="btn btn-block btn-primary" (click)="update()"><i class="fa fa-upload" aria-hidden="true"></i> Submit</button>                    
    </div>

    <div class="col-md-12">
        <br>
        <br>
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Danger Zone!</h4>
            <p>If you remove this you may have a problem with your list of reports.</p>
            <hr>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Write Category Name" [(ngModel)]="delete_name">
            </div>
            <button class="btn btn-block btn-danger" (click)="delete()">Delete</button>
        </div>
    </div>
</div>